* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.game-container {
  min-width: 544px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.stats {
  color: #ffffff;
  font-size: 16px;
}

.cards-grid {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 5px);
  aspect-ratio: 1;
  background-color: #8234e0;
  border: 2px solid #5a0caf;
  border-radius: 12px;
  background-image: url(./assets/lines.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealed{
  background-color: #ffffff;
  border-color: #dadada;
}

.card-emoji{
  font-size: 40px;
  display: none;
}

.revealed .card-emoji{
  display: block;
}